body {
  max-width: 1200px;
  min-width: 600px;
  margin: 0 auto;
}
:root {
  --textColor: rgb(253, 245, 236);
  --backgraoundColor: rgb(43, 39, 39);
}

/* ------------------- styling head area --------------- */
.head_area {
  background-color: var(--backgraoundColor);
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  height: 600px;
}
.text-site {
  width: 40%;
  margin-left: 60px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 40px;
}
.text-site h1 {
  font-size: 65px;
  color: var(--textColor);
}
.text-site p {
  color: var(--textColor);
}
.text-site button {
  background-color: rgb(226, 144, 43);
  width: 210px;
  height: 60px;
  border-radius: 9px;
  font-size: 22px;
  cursor: pointer;
  transition: all 0.5s;
}
.text-site button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.text-site button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.text-site button:hover span {
  padding-right: 25px;
}

.text-site button:hover span:after {
  opacity: 1;
  right: 0;
}

.arrowIcon {
  color: black;
  margin-left: 15px;
}

.img-site {
  /* margin-left: auto;
 margin-right: auto; */

  margin: 0 auto;
}
.img-site img {
  width: auto;
  top: 0;
}

/* -----------start responsive header --------------- */

@media only screen and (max-width: 992px) {
  .head_area {
    flex-direction: column;
    height: 100%;
    width: 754px;
  }
}


/* ------------------ styling main area ----------------- */

.main-area {
  display: flex;
  gap: 20px;
}

.allMatchManuButton {
  background-color: var(--backgraoundColor);
  height: 250px;
  width: 380px;
  border-radius: 29px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.matchLiveCardAreas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 820px;
}

.matchManuButton {
  width: 250px;
  height: 50px;
  background-color: rgb(252, 229, 199);
  border-radius: 10px;
  border: 0.5px solid purple;
}
.matchManuButton a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 500;
}

.matchManuButton:hover {
  background-color: rgb(224, 198, 248);
}

/*  ------------------start responsive main area -------------------- */
@media only screen and (max-width: 992px) {
  .main-area {
    flex-direction: column;
  }
  .allMatchManuButton{
    /* margin: 0 auto; */
  }
  .matchLiveCardAreas{
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    width: 590x;
  }
}

@media only screen and (max-width: 620px) {
  .matchLiveCardAreas{
    grid-template-columns: repeat(1, 1fr);
  }
}



/*------------------- start styling matchCard section ---------------- */

.cardItem {
  border-radius: 8px;
  height: 310px;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardImageMatch {
  width: 100px;
  height: 100px;
}
.matchImages {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
.cardButton {
  width: 80px;
  background-color: antiquewhite;
  height: 30px;
  border: none;
  border: 1px solid purple;
  border-radius: 5px;
  margin-left: 8px;
}
.cardButton a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.cardP {
  margin: 10px;
  font-weight: bold;
}
.cardMatchP {
  text-align: center;
  font-weight: bold;
}
.cardIconSection {
  margin-left: 10px;
}
.cardtimeSection {
  text-align: center;
}

.icon {
  margin-left: 10px;
}

/* --------------- responsive card area ------------------ */
@media only screen and (max-width: 992px) {
  .cardItem{
    /* width: 200px; */
  }
}

/* ---------start styling footer section ----------- */

.footer {
  background-color: var(--backgraoundColor);
  border-radius: 10px;
  height: 300px;
  margin-top: 80px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerH1 {
  text-align: center;
  color: var(--textColor);
}

.hr {
  color: aliceblue;
  width: 800px;
}
.footerFeatures {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.footerFeatures a {
  color: antiquewhite;
  text-decoration: none;
}

/*  ---- responsiveness start here --------- */

@media only screen and (max-width: 992px) {
  .footer {
    width: 754px;
  }
  .hr{
    width: 740px;
  }
}
