body {
  max-width: 1200px;
  margin: 0 auto;
}
:root {
  --textColor: rgb(253, 245, 236);
  --backgraoundColor: rgb(43, 39, 39);
}

/* ------------------- styling head area --------------- */
.head_area {
  background-color: var(--backgraoundColor);
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  height: 600px;
}
.text-site {
  width: 40%;
  margin-left: 60px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 40px;
}
.text-site h1 {
  font-size: 65px;
  color: var(--textColor);
}
.text-site p {
  color: var(--textColor);
}
.text-site button {
  background-color: rgb(226, 144, 43);
  width: 210px;
  height: 60px;
  border-radius: 9px;
  font-size: 22px;
  cursor: pointer;
}

.arrowIcon {
  color: black;
  margin-left: 15px;
}

.img-site {
  /* margin-left: auto;
 margin-right: auto; */

  margin: 0 auto;
}
.img-site img {
  width: 570px;
  top: 0;
}

/* ------------------ styling main area ----------------- */

.main-area {
  display: flex;
  gap: 20px;
}


.allMatchManuButton {
  background-color: var(--backgraoundColor);
  height: 250px;
  width: 380px;
  border-radius: 29px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.matchLiveCardAreas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 820px;
}

.matchManuButton {
  width: 250px;
  height: 50px;
  background-color: rgb(252, 229, 199);
  border-radius: 10px;
  border: 0.5px solid purple;
}
.matchManuButton a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 500;
}

.matchManuButton:hover {
  background-color: rgb(224, 198, 248);
}

/*------------------- start styling matchCard section ---------------- */

.cardItem {
  border-radius: 8px;
  height: 310px;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardImageMatch {
  width: 100px;
  height: 100px;
}
.matchImages {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
.cardButton {
  width: 80px;
  background-color: antiquewhite;
  height: 30px;
  border: none;
  border: 1px solid purple;
  border-radius: 5px;
  margin-left: 8px;
}
.cardButton a {
  text-decoration: none;
  color: black;
  font-size: 15px;
} 

.cardP {
  margin: 10px;
  font-weight: bold;
}
.cardMatchP {
  text-align: center;
  font-weight: bold;
}
.cardIconSection {
  margin-left: 10px;
}
.cardtimeSection {
  text-align: center;
  color: ;
}

.icon {
  margin-left: 10px;
}

/* ---------start styling footer section ----------- */

.footer{
  background-color: var(--backgraoundColor);
  border-radius: 10px;
  height: 300px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.footerH1{
  text-align: center;
  color: var(--textColor);
}

.hr {
  color: aliceblue;
  width: 800px;
}
.footerFeatures {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.footerFeatures a {
   color: antiquewhite;
  text-decoration: none;
}